alias unsplit 'User files Regeneration'
alias simple_xpath_test 'Output debug information about XPath matching'
alias prepend_comment 'Prepend a comment to the first statement of a module'
alias prepend_call 'Insert a call to MY_TRACK just before the first statement of a module'
alias add_pragma 'Prepends or append a pragma to the code of a module'
alias dvcg_file 'Graphical Call Graph'
alias graph_of_calls 'For current module'
alias full_graph_of_calls 'For all modules'
alias chains 'Use-Def Chains'
alias atomic_chains 'Standard'
alias region_chains 'Regions'
alias in_out_regions_chains 'In-Out Regions'
alias dg 'Dependence Test'
alias rice_fast_dependence_graph 'Preconditions Ignored'
alias rice_full_dependence_graph 'Loop Bounds Used'
alias rice_semantics_dependence_graph 'Preconditions Used'
alias rice_regions_dependence_graph 'Regions Used'
alias flinted_file 'Flint View'
alias transformers 'Transformers'
alias transformers_intra_fast 'Quick Intra-Procedural Computation'
alias transformers_inter_fast 'Quick Inter-Procedural Computation'
alias transformers_intra_full 'Full Intra-Procedural Computation'
alias transformers_inter_full 'Full Inter-Procedural Computation'
alias transformers_inter_full_with_points_to 'Full Inter-Procedural with points-to Computation'
alias refine_transformers 'Refine Transformers'
alias preconditions 'Preconditions'
alias preconditions_intra 'Intra-Procedural Analysis'
alias preconditions_inter_fast 'Quick Inter-Procedural Analysis'
alias preconditions_inter_full 'Full Inter-Procedural Analysis'
alias preconditions_intra_fast 'Fast intra-Procedural Analysis'
alias total_preconditions 'Total Preconditions'
alias total_preconditions_intra 'Total Intra-Procedural Analysis'
alias total_preconditions_inter 'Total Inter-Procedural Analysis'
alias complexities      'Complexities'
alias uniform_complexities      'Uniform'
alias fp_complexities   'FLOPs'
alias any_complexities  'Any'
alias regions 'Array regions'
alias may_regions 'MAY regions'
alias must_regions 'EXACT or MAY regions'
alias useful_variables_regions 'Useful Variables regions'
alias init_points_to_analysis  'Init Points To Analysis'
alias interprocedural_points_to_analysis  'Interprocedural Points To Analysis'
alias fast_interprocedural_points_to_analysis  'Fast Interprocedural Points To Analysis'
alias intraprocedural_points_to_analysis  'Intraprocedural Points To Analysis'
alias simple_pointer_values  'Pointer Values Analysis'
alias alias_file 'Alias View'
alias print_in_alias_pairs 'In Alias Pairs'
alias print_out_alias_pairs 'Out Alias Pairs'
alias print_alias_lists 'Alias Lists'
alias print_alias_classes 'Alias Classes'
alias compsec 'Complementary Sections'
alias array_bound_check_bottom_up 'Elimination of Redundant Tests'
alias array_bound_check_top_down 'Insertion of Unavoidable Tests'
alias array_bound_check_interprocedural 'Interprocedural Array Bound Checking'
alias array_bound_check_instrumentation 'Array Bound Checking Instrumentation'
alias alias_check 'Alias Check'
alias used_before_set 'Used Before Set'
alias parallelized_code 'Parallelization'
alias rice_all_dependence 'All Dependences'
alias rice_data_dependence 'True Dependences Only'
alias rice_cray 'CRAY Microtasking'
alias nest_parallelization 'Loop Nest Parallelization'
alias coarse_grain_parallelization 'Coarse Grain Parallelization'
alias internalize_parallel_code 'Consider a parallel code as a sequential one'
alias simd_atomizer 'SIMD Atomizer'
alias simdizer_auto_unroll 'SIMD-Auto Unroll'
alias simd_remove_reductions 'SIMD Remove Reductions'
alias deatomizer 'Deatomizer'
alias if_conversion_init 'If-conversion init'
alias if_conversion 'If-conversion'
alias if_conversion_compact 'If-conversion compact'
alias simdizer 'Generate SIMD code'
alias simd_memory_packing 'Generate Optimized Load Store'
alias wp65_compute_file 'Distributed View'
alias wp65_bank_file 'Bank Distributed View'
alias phrase_distributor_init 'PHRASE Distributor initialization'
alias phrase_distributor 'PHRASE Distributor'
alias phrase_distributor_control_code 'PHRASE Distributor Control Code'
alias safescale_distributor_init 'Safescale distributor init'
alias safescale_distributor 'Safescale distributor'
alias phrase_remove_dependences 'Phrase Remove Dependences'
alias phrase_comEngine_distributor 'PHRASE comEngine Distributor'
alias kernel_data_mapping "Kernel data mapping"
alias wrap_kernel_argument "wrap_kernel_argument"
alias gpu_ify 'Distribute // loop nests on GPU'
alias gpu_loop_nest_annotate 'Decorate loop nests with iteration spaces and add iteration clamping'
alias gpu_clear_annotations_on_loop_nest 'Clear annotation previously added by gpu_loop_nest_annotate'
alias distributer 'Distribute Loops'
alias Fusion 'Fusion Loops'
alias Fusion 'Fusion Loops With Regions'
alias index_set_splitting 'Index Set Splitting'
alias unroll 'Loop Unroll'
alias full_unroll 'Full Loop Unroll (Interactive)'
alias full_unroll_pragma 'Full Loop Unroll (Pragma)'
alias strip_mine 'Strip Mining'
alias loop_interchange 'Loop Interchange'
alias loop_hyperplane 'Hyperplane Method'
alias loop_tiling 'Tiling'
alias loop_normalize 'Loop Normalize'
alias tiling_sequence 'Tiling sequence of loop nests'
alias partial_redundancy_elimination 'Partial Redundancy Elimination'
alias identity_elimination 'Identity Elimination'
alias identity_elimination_with_points_to 'Identity Elimination with Points-to'
alias simplify_control 'Simplify Control'
alias simplify_control_directly 'Simplify Control Directly'
alias dead_code_elimination 'Dead Code Elimination'
alias use_def_elimination 'Use-Def elimination'
alias dead_code_elimination_with_out_regions 'Dead Code Elimination with OUT Regions'
alias loop_bound_minimization_with_out_regions 'Loop bound minimization with out regions'
alias unspaghettify 'Unspaghettify the Control Graph'
alias restructure_control 'Restructure the Control Graph'
alias recover_for_loop 'Recover for-loops from while-loops'
alias for_loop_to_do_loop 'For-loop to do-loop transformation'
alias for_loop_to_while_loop 'For-loop to while-loop transformation'
alias dowhile_to_while 'Do-while to while-loop transformation'
alias spaghettify 'Spaghettify the Control Graph'
alias full_spaghettify 'Spaghettify the Control Graph for the entire module'
alias stf 'Restructure with STF'
alias suppress_trivial_test 'Trivial Test Elimination'
alias fsm_generation 'FSM Generation'
alias full_fsm_generation 'Full FSM Generation'
alias fsm_split_state 'FSM split state
alias fsm_merge_states 'FSM merge states
alias add_control_counters 'Control counters
alias atomizer 'Atomizer'
alias new_atomizer 'New Atomizer'
alias partial_eval 'Partial Eval'
alias forward_substitute 'Forward Substitution'
alias expression_substitution 'Expression Substitution'
alias optimize_expressions 'Optimize Expressions'
alias instruction_selection 'Select Instructions'
alias common_subexpression_elimination 'Common Subexpression Elimination'
alias icm 'Invariant Code Motion'
alias clone 'Manual Clone'
alias clone_substitute 'Manual Clone Substitution'
alias clone_on_argument 'Clone On Argument'
alias clone_only 'Simple Clone'
alias clean_declarations 'Clean Declarations'
alias array_resizing_top_down 'Top Down Array Resizing'
alias array_resizing_bottom_up 'Bottom Up Array Resizing'
alias array_resizing_full_bottom_up 'Full Bottom Up Array Resizing'
alias array_resizing_statistic 'Array Resizing Statistic'
alias scalarization 'Scalarization'
alias quick_scalarization 'Quick Scalarization'
alias induction_substitution 'Induction variable substitution'
alias flatten_code 'Flatten Code'
alias split_initializations 'Split Initializations'
alias set_return_type_as_typedef 'Set return type as typedef'
alias cast_at_call_sites 'Cast parameters at call sites'
alias privatize_module 'Privatize Scalars'
alias privatize_module_even_globals 'Privatize Local and Global Scalars'
alias array_privatizer 'Privatize Scalars & Arrays'
alias array_section_privatizer 'Scalar and Array Section Privatization'
alias declarations_privatizer 'Declaration Privatization'
alias variable_expansion 'Expand Scalar'
alias check_initialize_vla_with_preconditions 'Check Initialize Variable Length Array With Preconditions'
alias check_initialize_vla_with_effects 'Check Initialize Variable Length Array With Effects'
alias check_initialize_vla_with_regions 'Check Initialize Variable Length Array With Regions'
alias initialize_vla_with_preconditions 'Initialize Variable Length Array With Preconditions'
alias initialize_vla_with_effects 'Initialize Variable Length Array With Effects'
alias initialize_vla_with_regions 'Initialize Variable Length Array With Regions'
alias freeze_variables 'Freeze Variables'
alias transformation_test 'Transformation Test'
alias parsed_printed_file 'User View'
alias print_source 'Basic'
alias print_source_transformers 'With Transformers'
alias print_source_preconditions 'With Preconditions'
alias print_source_total_preconditions 'With Total Preconditions'
alias print_source_regions 'With Regions'
alias print_source_in_regions 'With IN Regions'
alias print_source_out_regions 'With OUT Regions'
alias print_source_complexities 'With Complexities'
alias print_source_proper_effects 'With Proper Effects'
alias print_source_cumulated_effects 'With Cumulated Effects'
alias print_source_in_effects 'With IN Effects'
alias print_source_out_effects 'With OUT Effects'
alias print_source_continuation_conditions 'With Continuation Conditions'
alias printed_file 'Sequential View'
alias print_code 'Statements Only'
alias print_code_transformers 'Statements & Transformers'
alias print_code_complexities 'Statements & Complexities'
alias print_code_preconditions 'Statements & Preconditions'
alias print_code_total_preconditions 'Statements & Total Preconditions'
alias print_code_regions 'Statements & Regions'
alias print_code_regions 'Statements & Invariant Regions'
alias print_code_complementary_sections 'Statements & Complementary Sections'
alias print_code_in_regions 'Statements & IN Regions'
alias print_code_out_regions 'Statements & OUT Regions'
alias print_code_privatized_regions 'Statements & Privatized Regions'
alias print_code_proper_effects 'Statements & Proper Effects'
alias print_code_in_effects 'Statements & IN Effects'
alias print_code_out_effects 'Statements & OUT Effects'
alias print_code_cumulated_effects 'Statements & Cumulated Effects'
alias print_code_proper_reductions 'Statements & Proper Reductions'
alias print_code_cumulated_reductions 'Statements & Cumulated Reductions'
alias print_code_static_control 'Statements & Static Controls'
alias print_code_continuation_conditions 'Statements & Continuation Conditions'
alias print_code_proper_regions 'Statements & Proper Regions'
alias print_code_proper_references 'Statements & Proper References'
alias print_code_cumulated_references 'Statements & Cumulated References'
alias print_initial_precondition 'Initial Preconditions'
alias print_code_points_to_list 'Statements & Points To'
alias print_code_simple_pointer_values 'Statements & Simple Pointer Values'
alias graph_printed_file 'Control Graph Sequential View'
alias print_code_as_a_graph 'Graph with Statements Only'
alias print_code_as_a_graph_transformers 'Graph with Statements & Transformers'
alias print_code_as_a_graph_complexities 'Graph with Statements & Complexities'
alias print_code_as_a_graph_preconditions 'Graph with Statements & Preconditions'
alias print_code_as_a_graph_total_preconditions 'Graph with Statements & Total Preconditions'
alias print_code_as_a_graph_regions 'Graph with Statements & Regions'
alias print_code_as_a_graph_in_regions 'Graph with Statements & IN Regions'
alias print_code_as_a_graph_out_regions 'Graph with Statements & OUT Regions'
alias print_code_as_a_graph_proper_effects 'Graph with Statements & Proper Effects'
alias print_code_as_a_graph_cumulated_effects 'Graph with Statements & Cumulated Effects'
alias parallelprinted_file 'Parallel View'
alias print_parallelized77_code 'Fortran 77'
alias print_parallelizedHPF_code 'HPF directives'
alias print_parallelizedOMP_code 'OMP directives'
alias print_parallelized90_code 'Fortran 90'
alias print_parallelizedcray_code 'Fortran Cray'
alias print_parallelizedMPI_code 'C MPI'
alias callgraph_file 'Callgraph View'
alias print_call_graph 'Calls'
alias print_call_graph_with_complexities 'Calls & Complexities'
alias print_call_graph_with_preconditions 'Calls & Preconditions'
alias print_call_graph_with_total_preconditions 'Calls & Total Preconditions'
alias print_call_graph_with_transformers 'Calls & Transformers'
alias print_call_graph_with_proper_effects 'Calls & Proper effects'
alias print_call_graph_with_cumulated_effects 'Calls & Cumulated effects'
alias print_call_graph_with_regions 'Calls & Regions'
alias print_call_graph_with_in_regions 'Calls & In Regions'
alias print_call_graph_with_out_regions 'Calls & Out regions'
alias dvicfg_file 'DVICFG View'
alias print_dvicfg_with_filtered_proper_effects 'Graphical Calls & Filtered proper effects'
alias icfg_file 'ICFG View'
alias print_icfg 'Calls '
alias print_icfg_with_complexities 'Calls & Complexities '
alias print_icfg_with_preconditions 'Calls & Preconditions '
alias print_icfg_with_total_preconditions 'Calls & Total Preconditions '
alias print_icfg_with_transformers 'Calls & Transformers '
alias print_icfg_with_proper_effects 'Calls & Proper effects '
alias print_icfg_with_filtered_proper_effects 'Calls & Filtered proper effects '
alias print_icfg_with_cumulated_effects 'Calls & Cumulated effects '
alias print_icfg_with_regions 'Calls & Regions '
alias print_icfg_with_in_regions 'Calls & In Regions '
alias print_icfg_with_out_regions 'Calls & Out regions '
alias print_icfg_with_loops 'Calls & Loops'
alias print_icfg_with_loops_complexities 'Calls & Loops & Complexities'
alias print_icfg_with_loops_preconditions 'Calls & Loops & Preconditions'
alias print_icfg_with_loops_total_preconditions 'Calls & Loops & Total Preconditions'
alias print_icfg_with_loops_transformers 'Calls & Loops & Transformers'
alias print_icfg_with_loops_proper_effects 'Calls & Loops & Proper effects'
alias print_icfg_with_loops_cumulated_effects 'Calls & Loops & Cumulated effects'
alias print_icfg_with_loops_regions 'Calls & Loops & Regions'
alias print_icfg_with_loops_in_regions 'Calls & Loops & In Regions'
alias print_icfg_with_loops_out_regions 'Calls & Loops & Out regions'
alias print_icfg_with_control 'Calls & Control'
alias print_icfg_with_control_complexities 'Calls & Control & Complexities'
alias print_icfg_with_control_preconditions 'Calls & Control & Preconditions'
alias print_icfg_with_control_total_preconditions 'Calls & Control & Total Preconditions'
alias print_icfg_with_control_transformers 'Calls & Control & Transformers'
alias print_icfg_with_control_proper_effects 'Calls & Control & Proper effects'
alias print_icfg_with_control_cumulated_effects 'Calls & Control & Cumulated effects'
alias print_icfg_with_control_regions 'Calls & Control & Regions'
alias print_icfg_with_control_in_regions 'Calls & Control & In Regions'
alias print_icfg_with_control_out_regions 'Calls & Control & Out regions'
alias dg_file 'Dependence Graph View'
alias   print_effective_dependence_graph    'Default'
alias   print_loop_carried_dependence_graph 'Loop Carried Only'
alias   print_whole_dependence_graph        'All arcs'
alias   print_filtered_dependence_graph     'Filtered Arcs'
alias   print_filtered_dependence_daVinci_graph   'Filtered Arcs Output to uDrawGraph'
alias   impact_check                        'Check alias impact'
alias   print_chains_graph                  'Chains'
alias   print_dot_chains_graph              'Chains (for dot)'
alias   print_dot_dependence_graph          'Dependence graph (for dot)'
alias print_code_smalltalk 'Smalltalk Pretty-Printer'
alias pocc_prettyprinter 'pocc_prettyprinter'
alias rstream_interface 'rstream_interface'
alias regions_to_loops 'regions_to_loops'
alias print_xml_code 'Xml Pretty-Printer'
alias print_xml_code_with_explicit_motif 'Xml Pretty-Printer with explicit motif'
alias print_claire_code 'Claire Pretty-Printer'
alias print_claire_code_with_explicit_motif 'Claire Pretty-Printer with explicit motif'
alias print_xml_application 'Teraops Xml Pretty-Printer'
alias static_controlize 'Static Controlize'
