PIPS_VERSION "full"

ONE_TRIP_DO FALSE

LOG_TIMINGS FALSE

LOG_MEMORY_USAGE FALSE

SYSTEM_NULL "<null system>"

SYSTEM_UNDEFINED "<undefined system>"

SYSTEM_NOT_FEASIBLE "{0==-1}"

CHECK_RESOURCE_USAGE FALSE

ACTIVATE_DEL_DERIVED_RES TRUE

PIPSMAKE_CHECKPOINTS 0

PIPSDBM_RESOURCES_TO_DELETE "obsolete"

USER_LOG_P TRUE

ABORT_ON_USER_ERROR FALSE

CLOSE_WORKSPACE_AND_QUIT_ON_ERROR FALSE

MAXIMUM_USER_ERROR 2

ACTIVE_PHASES "PRINT_SOURCE PRINT_CODE PRINT_PARALLELIZED77_CODE PRINT_CALL_GRAPH PRINT_ICFG TRANSFORMERS_INTER_FULL INTERPROCEDURAL_SUMMARY_PRECONDITION PRECONDITIONS_INTER_FULL ATOMIC_CHAINS RICE_SEMANTICS_DEPENDENCE_GRAPH MAY_REGIONS"

PIPSMAKE_WARNINGS TRUE

CONSISTENCY_ENFORCED_P FALSE

NO_USER_WARNING FALSE

WARNING_ON_STAT_ERROR TRUE

C89_CODE_GENERATION FALSE

TPIPS_IS_A_SHELL FALSE

PYPS FALSE

CHECK_FORTRAN_SYNTAX_BEFORE_RUNNING_PIPS TRUE

PREPROCESSOR_MISSING_FILE_HANDLING "error"

PREPROCESSOR_MISSING_FILE_GENERATOR ""

STUB_MEMORY_BARRIER FALSE

STUB_IO_BARRIER FALSE

CHECK_C_SYNTAX_BEFORE_RUNNING_PIPS TRUE

PREPROCESSOR_FILE_NAME_CONFLICT_HANDLING FALSE

IGNORE_FUNCTION_IN_HEADER TRUE

PREPROCESSOR_INITIALIZER_FLAG_AS_STUB TRUE

PARSER_DUMP_SYMBOL_TABLE FALSE

PARSER_WARN_FOR_COLUMNS_73_80 TRUE

PARSER_ACCEPT_ANSI_EXTENSIONS TRUE

PARSER_ACCEPT_ARRAY_RANGE_EXTENSION FALSE

PARSER_TYPE_CHECK_CALL_SITES FALSE

PARSER_SIMPLIFY_LABELLED_LOOPS FALSE

PARSER_LINEARIZE_LOOP_BOUNDS FALSE

PARSER_SUBSTITUTE_ENTRIES TRUE

PARSER_SUBSTITUTE_ALTERNATE_RETURNS "NO"

PARSER_RETURN_CODE_VARIABLE "I_PIPS_RETURN_CODE_"

PARSER_FORMAL_LABEL_SUBSTITUTE_PREFIX "FORMAL_RETURN_LABEL_"

PRETTYPRINT_REGENERATE_ALTERNATE_RETURNS FALSE

PRETTYPRINT_CHECK_COMMENTS TRUE

PARSER_SUBSTITUTE_ASSIGNED_GOTO FALSE

PARSER_EXPAND_STATEMENT_FUNCTIONS TRUE

EXTENDED_VARIABLE_INFORMATION FALSE

C_PARSER_RETURN_SUBSTITUTION FALSE

C_PARSER_GENERATE_NAIVE_C99_FOR_LOOP_DECLARATION FALSE

C_PARSER_GENERATE_COMPACT_C99_FOR_LOOP_DECLARATION FALSE

WARN_ABOUT_EMPTY_SEQUENCES FALSE

UNSPAGHETTIFY_IN_CONTROLIZER TRUE

FOR_TO_WHILE_LOOP_IN_CONTROLIZER FALSE

FOR_TO_DO_LOOP_IN_CONTROLIZER FALSE

GATHER_FORMATS_AT_BEGINNING FALSE

GATHER_FORMATS_AT_END FALSE

CLEAN_UP_SEQUENCES_DISPLAY_STATISTICS FALSE

FUSE_CONTROL_NODES_WITH_COMMENTS_OR_LABEL FALSE

CLEAN_UP_SEQUENCES_WITH_DECLARATIONS FALSE

PREPEND_COMMENT "/* This comment is added by PREPEND_COMMENT phase */"

PREPEND_CALL "MY_TRACK"

PRAGMA_NAME "MY_PRAGMA"

PRAGMA_PREPEND TRUE

PRAGMA_OUTLINER_BEGIN "begin"

PRAGMA_OUTLINER_END "end"

PRAGMA_OUTLINER_PREFIX "pips_outlined"

REMOVE_USELESS_LABEL_KEEP_LOOP_LABEL FALSE

EFFECTS_FILTER_ON_VARIABLE ""

USER_EFFECTS_ON_STD_FILES FALSE

EFFECTS_POINTER_MODIFICATION_CHECKING FALSE

CONSTANT_PATH_EFFECTS TRUE

TRUST_CONSTANT_PATH_EFFECTS_IN_CONFLICTS FALSE

EFFECTS_IGNORE_DEREFERENCING FALSE

VLA_EFFECT_READ TRUE

MEMORY_EFFECTS_ONLY TRUE

TIME_EFFECTS_USED FALSE

MAXIMAL_PARAMETER_EFFECTS_FOR_UNKNOWN_FUNCTIONS FALSE

MAXIMAL_EFFECTS_FOR_UNKNOWN_FUNCTIONS FALSE

KEEP_READ_READ_DEPENDENCE FALSE

CHAINS_MASK_EFFECTS FALSE

CHAINS_DATAFLOW_DEPENDENCE_ONLY FALSE

DEPENDENCE_TEST "full"

RICEDG_PROVIDE_STATISTICS FALSE

RICEDG_STATISTICS_ALL_ARRAYS FALSE

RICE_DATAFLOW_DEPENDENCE_ONLY FALSE

COMPUTE_ALL_DEPENDENCES FALSE

SEMANTICS_ANALYZE_SCALAR_INTEGER_VARIABLES TRUE

SEMANTICS_ANALYZE_SCALAR_BOOLEAN_VARIABLES FALSE

SEMANTICS_ANALYZE_SCALAR_STRING_VARIABLES FALSE

SEMANTICS_ANALYZE_SCALAR_FLOAT_VARIABLES FALSE

SEMANTICS_ANALYZE_SCALAR_COMPLEX_VARIABLES FALSE

SEMANTICS_ANALYZE_SCALAR_POINTER_VARIABLES FALSE

SEMANTICS_ANALYZE_CONSTANT_PATH FALSE

SEMANTICS_TRUST_ARRAY_DECLARATIONS FALSE

SEMANTICS_TRUST_ARRAY_REFERENCES FALSE

SEMANTICS_USE_TYPE_INFORMATION FALSE

SEMANTICS_USE_TYPE_INFORMATION_IN_TRANSFORMERS FALSE

SEMANTICS_USE_TYPE_INFORMATION_IN_PRECONDITIONS FALSE

SEMANTICS_ASSUME_POSITIVE_REMAINDERS TRUE

SEMANTICS_FLOW_SENSITIVE FALSE

SEMANTICS_ANALYZE_UNSTRUCTURED TRUE

SEMANTICS_MAX_CFG_SIZE2 20

SEMANTICS_MAX_CFG_SIZE1 20

SEMANTICS_RECOMPUTE_EXPRESSION_TRANSFORMERS FALSE

SEMANTICS_COMPUTE_TRANSFORMERS_IN_CONTEXT FALSE

SEMANTICS_INTERPROCEDURAL FALSE

SEMANTICS_FIX_POINT FALSE

SEMANTICS_FIX_POINT_OPERATOR "derivative"

SEMANTICS_K_FIX_POINT 1

SEMANTICS_INEQUALITY_INVARIANT FALSE

SEMANTICS_RECOMPUTE_FIX_POINTS_WITH_PRECONDITIONS FALSE

SEMANTICS_USE_TRANSFORMER_LISTS FALSE

SEMANTICS_USE_DERIVATIVE_LIST FALSE

SEMANTICS_USE_LIST_PROJECTION TRUE

SEMANTICS_LIST_FIX_POINT_OPERATOR "depth_two"

SEMANTICS_KEEP_DO_LOOP_EXIT_CONDITION TRUE

SEMANTICS_FILTER_INITIAL_VALUES TRUE

SEMANTICS_NORMALIZATION_LEVEL_BEFORE_STORAGE 4

SEMANTICS_FILTERED_PRECONDITIONS FALSE

SEMANTICS_STDOUT FALSE

PATH_TRANSFORMER_BEGIN "sb"

PATH_TRANSFORMER_END "se"

IDENTITY_EMPTY_PATH_TRANSFORMER TRUE

COMPLEXITY_TRACE_CALLS FALSE

COMPLEXITY_INTERMEDIATES FALSE

COMPLEXITY_PRINT_COST_TABLE FALSE

COMPLEXITY_PARAMETERS "IMAX LOOP"

COMPLEXITY_PRINT_STATISTICS 0

COMPLEXITY_COST_TABLE "all_1"

COMPLEXITY_EARLY_EVALUATION FALSE

EXACT_REGIONS TRUE

MUST_REGIONS FALSE

REGIONS_WITH_ARRAY_BOUNDS FALSE

MEMORY_IN_OUT_EFFECTS_ONLY TRUE

DISJUNCT_REGIONS FALSE

DISJUNCT_IN_OUT_REGIONS FALSE

REGIONS_OP_STATISTICS FALSE

REGIONS_TRANSLATION_STATISTICS FALSE

ALIASING_ACROSS_TYPES TRUE

ALIASING_ACROSS_FORMAL_PARAMETERS FALSE

ALIASING_INSIDE_DATA_STRUCTURE FALSE

ALIASING_ACROSS_IO_STREAMS TRUE

ABSTRACT_HEAP_LOCATIONS "unique"

POINTS_TO_SUCCESSFUL_MALLOC_ASSUMED TRUE

POINTS_TO_STRICT_POINTER_TYPES FALSE

POINTS_TO_UNINITIALIZED_POINTER_DEREFERENCING FALSE

POINTS_TO_NULL_POINTER_DEREFERENCING FALSE

POINTS_TO_NULL_POINTER_INITIALIZATION TRUE

POINTS_TO_OUT_DEGREE_LIMIT 5

POINTS_TO_PATH_LIMIT 2

POINTS_TO_SUBSCRIPT_LIMIT 2

INITIAL_CODE_ARRAY_BOUND_CHECK_INSTRUMENTATION TRUE

PIPS_CODE_ARRAY_BOUND_CHECK_INSTRUMENTATION FALSE

ARRAY_BOUND_CHECKING_WITH_ALLOCATION_SIZE FALSE

PROGRAM_VERIFICATION_WITH_PRINT_MESSAGE FALSE

ALIAS_CHECKING_USING_MAIN_PROGRAM FALSE

GENERATE_NESTED_PARALLEL_LOOPS TRUE

PARALLELIZATION_STATISTICS FALSE

PARALLELIZE_AGAIN_PARALLEL_CODE FALSE

PARALLELIZATION_IGNORE_THREAD_SAFE_VARIABLES FALSE

COMPUTATION_INTENSITY_STARTUP_OVERHEAD 10

COMPUTATION_INTENSITY_BANDWIDTH 100

COMPUTATION_INTENSITY_FREQUENCY 1000

COMPUTATION_INTENSITY_PRAGMA "pips intensive loop"

NESTED_PARALLELISM_THRESHOLD 0

ACCEL_LOAD "SIMD_LOAD"

ACCEL_STORE "SIMD_STORE"

ACCEL_WORK "SIMD_"

SIMD_ATOMIZER_ATOMIZE_REFERENCE FALSE

SIMD_ATOMIZER_ATOMIZE_LHS FALSE

SIMD_OVERRIDE_CONSTANT_TYPE_INFERENCE FALSE

SIMD_REMOVE_REDUCTIONS_PREFIX "RED"

SIMD_REMOVE_REDUCTIONS_PRELUDE ""

SIMD_REMOVE_REDUCTIONS_POSTLUDE ""

REDUNDANT_LOAD_STORE_ELIMINATION_CONSERVATIVE TRUE

IF_CONVERSION_INIT_THRESHOLD 40

IF_CONVERSION_PHI "__C-conditional__"

SIMDIZER_ALLOW_PADDING FALSE

SIMDIZER_GENERATE_DATA_TRANSFERS TRUE

SAC_SIMD_REGISTER_WIDTH 64

SIMDIZER_AUTO_UNROLL_MINIMIZE_UNROLL TRUE

SIMDIZER_AUTO_UNROLL_SIMPLE_CALCULATION TRUE

SIMD_FORTRAN_MEM_ORGANISATION TRUE

SIMD_PATTERN_FILE "patterns.def"

WP65_MODEL_FILE "model.rc"

HPFC_EXPAND_COMPUTE_LOCAL_INDEX TRUE

HPFC_EXPAND_COMPUTE_COMPUTER TRUE

HPFC_EXPAND_COMPUTE_OWNER TRUE

HPFC_EXPAND_CMPLID TRUE

HPFC_NO_WARNING FALSE

HPFC_FILTER_CALLEES FALSE

GLOBAL_EFFECTS_TRANSLATION TRUE

HPFC_SYNCHRONIZE_IO FALSE

HPFC_IGNORE_MAY_IN_IO FALSE

HPFC_LAZY_MESSAGES TRUE

HPFC_IGNORE_FCD_SYNCHRO FALSE

HPFC_IGNORE_FCD_TIME FALSE

HPFC_IGNORE_FCD_SET FALSE

HPFC_TIME_REMAPPINGS FALSE

HPFC_REDUNDANT_SYSTEMS_FOR_REMAPS FALSE

HPFC_OPTIMIZE_REMAPPINGS TRUE

HPFC_DYNAMIC_LIVENESS TRUE

HPFC_GUARDED_TWINS TRUE

HPFC_BUFFER_SIZE 1000000

HPFC_USE_BUFFERS TRUE

HPFC_IGNORE_IN_OUT_REGIONS TRUE

HPFC_EXTRACT_EQUALITIES TRUE

HPFC_EXTRACT_LATTICE TRUE

STEP_DEFAULT_TRANSFORMATION "HYBRID"

STEP_INSTALL_PATH ""

COMENGINE_CONTROL_IN_HRE TRUE

COMENGINE_SIZE_OF_FIFO 128

ISOLATE_STATEMENT_LABEL ""

ISOLATE_STATEMENT_VAR_PREFIX ""

ISOLATE_STATEMENT_VAR_SUFFIX ""

ISOLATE_STATEMENT_EVEN_NON_LOCAL FALSE

SOLVE_HARDWARE_CONSTRAINTS_LABEL ""

SOLVE_HARDWARE_CONSTRAINTS_LIMIT 0

SOLVE_HARDWARE_CONSTRAINTS_UNKNOWN ""

SOLVE_HARDWARE_CONSTRAINTS_TYPE ""

KERNEL_LOAD_STORE_SCALAR FALSE

KERNEL_LOAD_STORE_ALLOCATE_FUNCTION "P4A_accel_malloc"

KERNEL_LOAD_STORE_DEALLOCATE_FUNCTION "P4A_accel_free"

KERNEL_LOAD_STORE_LOAD_FUNCTION "P4A_copy_to_accel"

KERNEL_LOAD_STORE_STORE_FUNCTION "P4A_copy_from_accel"

KERNEL_LOAD_STORE_LOAD_FUNCTION_1D "P4A_copy_to_accel_1d"

KERNEL_LOAD_STORE_STORE_FUNCTION_1D "P4A_copy_from_accel_1d"

KERNEL_LOAD_STORE_LOAD_FUNCTION_2D "P4A_copy_to_accel_2d"

KERNEL_LOAD_STORE_STORE_FUNCTION_2D "P4A_copy_from_accel_2d"

KERNEL_LOAD_STORE_LOAD_FUNCTION_3D "P4A_copy_to_accel_3d"

KERNEL_LOAD_STORE_STORE_FUNCTION_3D "P4A_copy_from_accel_3d"

KERNEL_LOAD_STORE_LOAD_FUNCTION_4D "P4A_copy_to_accel_4d"

KERNEL_LOAD_STORE_STORE_FUNCTION_4D "P4A_copy_from_accel_4d"

KERNEL_LOAD_STORE_LOAD_FUNCTION_5D "P4A_copy_to_accel_5d"

KERNEL_LOAD_STORE_STORE_FUNCTION_5D "P4A_copy_from_accel_5d"

KERNEL_LOAD_STORE_LOAD_FUNCTION_6D "P4A_copy_to_accel_6d"

KERNEL_LOAD_STORE_STORE_FUNCTION_6D "P4A_copy_from_accel_6d"

KERNEL_LOAD_STORE_VAR_PREFIX "p4a_var_"

KERNEL_LOAD_STORE_VAR_SUFFIX ""

KERNELIZE_NBNODES 128

KERNELIZE_KERNEL_NAME ""

KERNELIZE_HOST_CALL_NAME ""

OUTLINE_LOOP_STATEMENT FALSE

GROUP_CONSTANTS_STATEMENT_LABEL ""

GROUP_CONSTANTS_LAYOUT ""

GROUP_CONSTANTS_HOLDER "caillou"

GROUP_CONSTANTS_SKIP_LOOP_RANGE FALSE

GROUP_CONSTANTS_LITERAL TRUE

TERAPIX_REMOVE_DIVIDE_ACCURACY 4

WRAP_KERNEL_ARGUMENT_FUNCTION_NAME "P4A_runtime_host_ptr_to_accel_ptr"

GPU_IFY_ANNOTATE_LOOP_NESTS FALSE

GPU_LAUNCHER_PREFIX "p4a_launcher"

GPU_WRAPPER_PREFIX "p4a_wrapper"

GPU_KERNEL_PREFIX "p4a_kernel"

GPU_OUTLINE_SUFFIX_WITH_OWNER_NAME TRUE

GPU_USE_LAUNCHER TRUE

GPU_USE_WRAPPER TRUE

GPU_USE_KERNEL TRUE

GPU_USE_KERNEL_INDEPENDENT_COMPILATION_UNIT FALSE

GPU_USE_LAUNCHER_INDEPENDENT_COMPILATION_UNIT FALSE

GPU_USE_WRAPPER_INDEPENDENT_COMPILATION_UNIT FALSE

GPU_USE_FORTRAN_WRAPPER FALSE

GPU_FORTRAN_WRAPPER_PREFIX "P4A_FORTRAN_WRAPPER"

GPU_COORDINATE_INTRINSICS_FORMAT "P4A_vp_%d"

GPU_LOOP_NEST_ANNOTATE_PARALLEL TRUE

GPU_QUALIFY_POINTERS_DO_CASTS TRUE

TASKIFY_TASK_PREFIX "P4A_task"

SCALOPES_KERNEL_TASK_PREFIX "P4A_sesam_task_"

SCALOPES_SERVER_TASK_PREFIX "P4A_sesam_server_"

BDSC_NB_CLUSTERS 4

BDSC_MEMORY_SIZE -1

BDSC_DISTRIBUTED_MEMORY TRUE

COSTLY_TASKS_ONLY FALSE

BDSC_SENSITIVITY 0

BDSC_INSTRUMENTED_FILE ""

LOOP_LABEL ""

FLAG_LOOPS_DO_LOOPS_ONLY TRUE

PARTIAL_DISTRIBUTION FALSE

STATEMENT_INSERTION_PRAGMA "pips inserted statement to check"

STATEMENT_INSERTION_SUCCESS_PRAGMA "pips inserted statement"

STATEMENT_INSERTION_FAILURE_PRAGMA "pips inserted statement to remove"

LOOP_EXPANSION_SIZE ""

LOOP_EXPANSION_CENTER FALSE

LOOP_FUSION_MAXIMIZE_PARALLELISM TRUE

LOOP_FUSION_GREEDY FALSE

LOOP_FUSION_KEEP_PERFECT_PARALLEL_LOOP_NESTS TRUE

LOOP_FUSION_MAX_FUSED_PER_LOOP -1

INDEX_SET_SPLITTING_BOUND ""

INDEX_SET_SPLITTING_SPLIT_BEFORE_BOUND FALSE

UNROLL_RATE 0

LOOP_UNROLL_MERGE FALSE

LOOP_UNROLL_WITH_PROLOGUE TRUE

FULL_LOOP_UNROLL_EXCEPTIONS ""

STRIP_MINE_KIND -1

STRIP_MINE_FACTOR -1

LOOP_TILING_MATRIX ""

SYMBOLIC_TILING_VECTOR ""

SYMBOLIC_TILING_FORCE FALSE

LOOP_NORMALIZE_ONE_INCREMENT FALSE

LOOP_NORMALIZE_LOWER_BOUND 1

LOOP_NORMALIZE_SKIP_INDEX_SIDE_EFFECT FALSE

LOOP_NORMALIZE_PARALLEL_LOOPS_ONLY FALSE

SIMPLIFY_CONTROL_DIRECTLY_PRIVATE_LOOP_INDICES FALSE

SIMPLIFY_CONTROL_DO_WHILE TRUE

DEAD_CODE_DISPLAY_STATISTICS TRUE

DEAD_CODE_ELIMINATION_KEEP_FUNCTIONS ""

DEAD_CODE_ELIMINATION_KEEP_FUNCTIONS_PREFIX ""

UNSPAGHETTIFY_DISPLAY_STATISTICS TRUE

UNSPAGHETTIFY_TEST_RESTRUCTURING FALSE

UNSPAGHETTIFY_RECURSIVE_DECOMPOSITION FALSE

UNSPAGHETTIFY_WHILE_RECOVER FALSE

DESTRUCTURE_TESTS TRUE

DESTRUCTURE_LOOPS TRUE

DESTRUCTURE_WHILELOOPS TRUE

DESTRUCTURE_FORLOOPS TRUE

FSMIZE_WITH_GLOBAL_VARIABLE FALSE

SIMPLIFY_COMPLEX_USE_ARRAY_OF_STRUCTS TRUE

ATOMIZE_INDIRECT_REF_ONLY FALSE

ATOMIZE_ARRAY_ACCESSES_WITH_OFFSETS TRUE

GENERATE_TWO_ADDRESSES_CODE_SKIP_DEREFERENCING TRUE

EVAL_SYMBOLIC_CONSTANT TRUE

PARTIAL_EVAL_ALWAYS_SIMPLIFY FALSE

EVAL_SIZEOF FALSE

ATOMIC_OPERATION_PROFILE "cuda"

FORWARD_SUBSTITUTE_OPTIMISTIC_CLEAN FALSE

RELAX_FLOAT_ASSOCIATIVITY FALSE

EXPRESSION_SUBSTITUTION_PATTERN ""

RENAME_OPERATOR_OPS "plus minus mul div mod un_plus un_minus assign mul_up div_up mod_up plus_up minus_up"

RENAME_OPERATOR_SUFFIXES "f d C I"

RENAME_OPERATOR_PREFIX "op_"

RENAME_OPERATOR_REWRITE_DO_LOOP_RANGE FALSE

LINEARIZE_ARRAY_USE_POINTERS FALSE

LINEARIZE_ARRAY_MODIFY_CALL_SITE TRUE

LINEARIZE_ARRAY_CAST_AT_CALL_SITE FALSE

LINEARIZE_ARRAY_SKIP_STATIC_LENGTH_ARRAYS FALSE

LINEARIZE_ARRAY_SKIP_LOCAL_ARRAYS FALSE

EOLE "newgen_eole"

EOLE_FLAGS "-nfd"

EOLE_OPTIONS ""

EOLE_OPTIMIZATION_STRATEGY "P2SC"

COMMON_SUBEXPRESSION_ELIMINATION_SKIP_ADDED_CONSTANT FALSE

COMMON_SUBEXPRESSION_ELIMINATION_SKIP_LHS TRUE

FREIA_DAG_LABEL_ARCS FALSE

FREIA_DAG_LABEL_NODES TRUE

FREIA_DAG_FILTER_NODES TRUE

FREIA_COMPILE_LONE_OPERATIONS TRUE

FREIA_NORMALIZE_OPERATIONS TRUE

FREIA_SIMPLIFY_OPERATIONS TRUE

FREIA_REMOVE_DEAD_OPERATIONS TRUE

FREIA_REMOVE_DUPLICATE_OPERATIONS TRUE

FREIA_REMOVE_USELESS_COPIES TRUE

FREIA_MOVE_DIRECT_COPIES TRUE

FREIA_MERGE_ARGUMENTS TRUE

FREIA_REUSE_INITIAL_IMAGES TRUE

FREIA_ALLOW_IMAGE_SHUFFLE FALSE

FREIA_CAST_IS_COPY FALSE

FREIA_CLEANUP_STATUS TRUE

FREIA_PIXEL_SIZE 16

FREIA_IMAGE_HEIGHT 0

FREIA_IMAGE_WIDTH 0

FREIA_TRANSPOSE_KERNEL_FUNC ""

HWAC_SPOC_DEPTH 8

HWAC_TERAPIX_NPE 128

HWAC_TERAPIX_RAMPE 1024

HWAC_TERAPIX_DMABW 24

HWAC_TERAPIX_GRAM_WIDTH 64

HWAC_TERAPIX_GRAM_HEIGHT 32

HWAC_TERAPIX_DAG_CUT "compute"

HWAC_TERAPIX_OVERLAP_IO FALSE

HWAC_TERAPIX_IMAGELET_MAX_SIZE 0

HWAC_TERAPIX_REDUCE_TO_CONNECTED_COMPONENTS TRUE

HWAC_OPENCL_MERGE_OPERATIONS TRUE

HWAC_OPENCL_MERGE_KERNEL_OPERATIONS TRUE

HWAC_OPENCL_GENERATE_SPECIAL_KERNEL_OPS TRUE

HWAC_OPENCL_MERGE_REDUCTIONS TRUE

HWAC_OPENCL_COMPILE_ONE_OPERATION FALSE

HWAC_OPENCL_SYNCHRONIZE_KERNELS FALSE

HWAC_OPENCL_PRELOAD_PIXELS TRUE

HWAC_OPENCL_FIRST_THREAD_DIMENSION "height"

HWAC_OPENCL_FIRST_KERNEL_LOOP "height"

HWAC_OPENCL_TILING FALSE

HWAC_SIGMAC_MERGE_ARITH 0

HWAC_SIGMAC_SPECIFIC_MORPHO TRUE

INLINING_USE_INITIALIZATION_LIST TRUE

INLINING_IGNORE_STUBS TRUE

INLINING_COMMENT_ORIGIN FALSE

INLINING_CALLERS ""

UNFOLDING_CALLEES ""

UNFOLDING_FILTER ""

OUTLINE_MODULE_NAME ""

OUTLINE_PRAGMA "pips outline"

OUTLINE_LABEL ""

OUTLINE_ALLOW_GLOBALS FALSE

OUTLINE_SMART_REFERENCE_COMPUTATION FALSE

OUTLINE_LOOP_BOUND_AS_PARAMETER ""

OUTLINE_INDEPENDENT_COMPILATION_UNIT FALSE

OUTLINE_WRITTEN_SCALAR_BY_REFERENCE TRUE

OUTLINE_CALLEES_PREFIX ""

OUTLINE_REMOVE_VARIABLE_RSTREAM_IMAGE FALSE

OUTLINE_REMOVE_VARIABLE_RSTREAM_SCOP FALSE

TRANSFORMATION_CLONE_ON_ARGUMENT 0

CLONE_NAME ""

RSTREAM_CLONE_SUFFIX ""

DYNAMIC_ALLOCATION "malloc"

DYNAMIC_DEALLOCATION "free"

FORCE_REGISTER_ARRAY TRUE

FORCE_REGISTER_POINTER TRUE

FORCE_REGISTER_FORMAL TRUE

ARRAY_RESIZING_TOP_DOWN_OPTION 0

ARRAY_RESIZING_BOTTOM_UP_OPTION 0

ARRAY_RESIZING_ASSUMED_SIZE_ONLY TRUE

ARRAY_RESIZING_ARGUMENT FALSE

SCALARIZATION_PREFIX ""

SCALARIZATION_USE_REGISTERS TRUE

SCALARIZATION_PRESERVE_PERFECT_LOOP_NEST FALSE

SCALARIZATION_KEEP_PERFECT_PARALLEL_LOOP_NESTS FALSE

SCALARIZATION_FORCE_OUT FALSE

SCALARIZATION_THRESHOLD 2

SCALARIZATION_ACROSS_CONTROL_TEST "exactness"

SCALARIZATION_SKIP_ADDRESS_OF_VARIABLES FALSE

FLATTEN_CODE_UNROLL TRUE

SET_RETURN_TYPE_AS_TYPEDEF_NEW_TYPE "P4A_accel_kernel_wrapper"

LOCALIZE_DECLARATION_SKIP_LOOP_INDICES FALSE

ARRAY_PRIV_FALSE_DEP_ONLY TRUE

ARRAY_SECTION_PRIV_COPY_OUT TRUE

ERROR_ON_UNINITIALIZE_VLA FALSE

INITIALIZE_VLA_VALUE 0

TYPE_CHECKER_DOUBLE_COMPLEX_EXTENSION FALSE

TYPE_CHECKER_LONG_DOUBLE_COMPLEX_EXTENSION FALSE

TYPE_CHECKER_ADD_SUMMARY FALSE

TYPE_CHECKER_EXPLICIT_COMPLEX_CONSTANTS FALSE

PRAGMA_TYPE "expr"

OMP_LOOP_PARALLEL_THRESHOLD_VALUE 0

OMP_IF_CLAUSE_RECURSIVE TRUE

OMP_MERGE_POLICY "outer"

OMP_IF_MERGE_POLICY "ignore"

HTML_PRETTYPRINT_SYMBOL_TABLE FALSE

PRETTYPRINT_LANGUAGE "native"

PRETTYPRINT_LOOSE TRUE

PRETTYPRINT_STATEMENT_NUMBER TRUE

PRETTYPRINT_INDENTATION 3

PRETTYPRINT_LISTS_WITH_SPACES TRUE

PRETTYPRINT_ANALYSES_WITH_LF TRUE

PRETTYPRINT_GLOBAL_QUALIFIER ""

PRETTYPRINT_LOCAL_QUALIFIER ""

PRETTYPRINT_CONSTANT_QUALIFIER ""

PRETTYPRINT_PRIVATE_QUALIFIER ""

PRETTYPRINT_C_CHAR_TYPE "char"

PRETTYPRINT_C_SHORT_TYPE "short"

PRETTYPRINT_C_INT_TYPE "int"

PRETTYPRINT_C_LONG_TYPE "long int"

PRETTYPRINT_C_LONGLONG_TYPE "long long int"

PRETTYPRINT_C_INT128_TYPE "__int128_t"

PRETTYPRINT_C_UCHAR_TYPE "unsigned char"

PRETTYPRINT_C_USHORT_TYPE "unsigned short"

PRETTYPRINT_C_UINT_TYPE "unsigned int"

PRETTYPRINT_C_ULONG_TYPE "unsigned long int"

PRETTYPRINT_C_ULONGLONG_TYPE "unsigned long long int"

PRETTYPRINT_C_UINT128_TYPE "__uint128_t"

PRETTYPRINT_C_SCHAR_TYPE "signed char"

PRETTYPRINT_C_SSHORT_TYPE "signed short"

PRETTYPRINT_C_SINT_TYPE "signed int"

PRETTYPRINT_C_SLONG_TYPE "signed long int"

PRETTYPRINT_C_SLONGLONG_TYPE "signed long long int"

PRETTYPRINT_PARALLEL "do"

PRETTYPRINT_SEQUENTIAL_STYLE "omp"

PRETTYPRINT_EFFECTS FALSE

PRETTYPRINT_IO_EFFECTS TRUE

PRETTYPRINT_MEMORY_EFFECTS_ONLY FALSE

PRETTYPRINT_REVERSE_DOALL FALSE

PRETTYPRINT_TRANSFORMER FALSE

PRETTYPRINT_EXECUTION_CONTEXT FALSE

PRETTYPRINT_REGION FALSE

PRETTYPRINT_SCALAR_REGIONS FALSE

PRETTYPRINT_BLOCKS FALSE

PRETTYPRINT_ALL_C_BLOCKS FALSE

PRETTYPRINT_UNSTRUCTURED FALSE

PRETTYPRINT_ALL_EFFECTS FALSE

PRETTYPRINT_EMPTY_BLOCKS FALSE

PRETTYPRINT_STATEMENT_ORDERING FALSE

PRETTYPRINT_ALL_LABELS FALSE

PRETTYPRINT_DO_LABEL_AS_COMMENT FALSE

PRETTYPRINT_ALL_PRIVATE_VARIABLES FALSE

PRETTYPRINT_CHECK_IO_STATEMENTS FALSE

PRETTYPRINT_FINAL_RETURN FALSE

PRETTYPRINT_BLOCK_IF_ONLY FALSE

PRETTYPRINT_EFFECT_WITH_FULL_ENTITY_NAME FALSE

PRETTYPRINT_WITH_COMMON_NAMES FALSE

PRETTYPRINT_ALL_PARENTHESES FALSE

PRETTYPRINT_ALL_C_BRACES FALSE

PRETTYPRINT_GCC_C_BRACES FALSE

PRETTYPRINT_ALL_DECLARATIONS FALSE

PRETTYPRINT_HEADER_COMMENTS FALSE

PRETTYPRINT_COMMONS "declaration"

PRETTYPRINT_DATA_STATEMENTS TRUE

PRETTYPRINT_VARIABLE_DIMENSIONS "type"

PRETTYPRINT_FOR_FORESYS FALSE

PRETTYPRINT_HPFC FALSE

PRETTYPRINT_INTERNAL_INTRINSICS FALSE

PRETTYPRINT_ADD_EMACS_PROPERTIES FALSE

ICFG_IFs FALSE

ICFG_DOs FALSE

ICFG_DV FALSE

ICFG_CALLEES_TOPO_SORT FALSE

ICFG_DRAW TRUE

ICFG_INDENTATION 4

ICFG_DEBUG FALSE

RW_FILTERED_EFFECTS 0

PRETTYPRINT_UNSTRUCTURED_AS_A_GRAPH FALSE

PRETTYPRINT_UNSTRUCTURED_AS_A_GRAPH_VERBOSE FALSE

CALLGRAPH_DEBUG FALSE

PRINT_DEPENDENCE_GRAPH FALSE

PRINT_DEPENDENCE_GRAPH_WITHOUT_PRIVATIZED_DEPS FALSE

PRINT_DEPENDENCE_GRAPH_WITHOUT_NOLOOPCARRIED_DEPS FALSE

PRINT_DEPENDENCE_GRAPH_WITH_DEPENDENCE_CONES FALSE

PRINT_DEPENDENCE_GRAPH_USING_SRU_FORMAT FALSE

PRINT_DOTDG_STATEMENT TRUE

PRINT_DOTDG_TOP_DOWN_ORDERED TRUE

PRINT_DOTDG_CENTERED FALSE

PRINT_DOTDG_TITLE ""

PRINT_DOTDG_TITLE_POSITION "b"

PRINT_DOTDG_BACKGROUND "white"

PRINT_DOTDG_NODE_SHAPE "box"

PRINT_DOTDG_NODE_SHAPE_COLOR "black"

PRINT_DOTDG_NODE_FILL_COLOR "white"

PRINT_DOTDG_NODE_FONT_COLOR "black"

PRINT_DOTDG_NODE_FONT_SIZE "18"

PRINT_DOTDG_NODE_FONT_FACE "Times-Roman"

PRINT_DOTDG_FLOW_DEP_COLOR "red"

PRINT_DOTDG_ANTI_DEP_COLOR "green"

PRINT_DOTDG_OUTPUT_DEP_COLOR "blue"

PRINT_DOTDG_INPUT_DEP_COLOR "black"

PRINT_DOTDG_FLOW_DEP_STYLE "solid"

PRINT_DOTDG_ANTI_DEP_STYLE "solid"

PRINT_DOTDG_OUTPUT_DEP_STYLE "solid"

PRINT_DOTDG_INPUT_DEP_STYLE "dashed"

CROUGH_PRINT_UNKNOWN_INTRINSIC FALSE

CROUGH_USER_DEFINED_TYPE FALSE

CROUGH_INCLUDE_FILE "p4a_crough_types.h"

CROUGH_INTEGER_TYPE "p4a_int"

CROUGH_REAL_TYPE "p4a_real"

CROUGH_ARRAY_PARAMETER_AS_POINTER FALSE

PRETTYPRINT_C_FUNCTION_NAME_WITH_UNDERSCORE FALSE

CROUGH_FORTRAN_USES_INTERFACE FALSE

CROUGH_SCALAR_BY_VALUE_IN_FCT_DECL FALSE

CROUGH_SCALAR_BY_VALUE_IN_FCT_CALL FALSE

DO_RETURN_TYPE_AS_TYPEDEF FALSE

CROUGH_INCLUDE_FILE_LIST ""

SCOP_PREFIX "SCoP"

STATIC_CONTROLIZE_ACROSS_USER_CALLS TRUE

PSYSTEME_TO_LOOPNEST_FOR_RSTREAM FALSE
